.available-options {
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  padding-bottom: 2rem;
  font-size: 25px;
}

.ocultar {
  display: none;
}

.option {
  color: rgb(253, 253, 253);
  font-size: 30px;
  background-color: rgba(0, 0, 0, 0.911);
  border: 1px solid black;
  border-radius: 40rem;
  padding: 1rem;
  cursor: pointer;
}

.two {
  background-color: rgba(0, 0, 0, 0.911);
}
